
*.png -diff
*.ico -diff
*.zip -diff

# Generated text
public/sitemap.xml linguist-generated=true
**/__snapshots__/** linguist-generated=true
*.snap linguist-generated=true
package-lock.json linguist-generated=true
package-lock.json -diff

