# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
dist-types

node_modules/


.env
.env.*
!.env.example

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.npm
.eslintcache
.vite-cache
.yarn-cache

coverage
.nyc_output

SECURITY.md
